@use '../abstracts/variables';

.btn {
  font-size: variables.$default-font-size;
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.4s;
    position: relative;

    //Change for the <button>

    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.26);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.26);
  }

  &-white {
    background-color: variables.$color-white;
    color: variables.$color-grey-dark;

    &::after {
      background-color: variables.$color-white;
    }
  }

  &-green {
    background-color: variables.$color-primary;
    color: variables.$color-white;

    &::after {
      background-color: variables.$color-primary;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  &-animated {
    animation: moveInBottom 1.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
  &-text {
    &:link,
    &:visited {
      font-size: variables.$default-font-size;
      color: variables.$color-primary;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid variables.$color-primary;
      padding: 3px;
      transition: all 0.5s;
    }
    &:hover {
      transform: translateY(-2px);
      background-color: variables.$color-primary;
      color: variables.$color-white;
      box-shadow: 0 1rem 2rem rgba(variables.$color-black, 0.2);
    }
    &:active {
      box-shadow: 0 0.5rem 1rem rgba(variables.$color-black, 0.2);
      transform: translateY(0);
    }
  }
}
