@use '../abstracts/variables';
@use '../abstracts/mixins';

.feature-box {
  background-color: rgba(variables.$color-white, 0.8);
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1.5rem 3rem rgba(variables.$color-black, 0.3);
  transition: all 0.5s;

  @include mixins.respond(tabport) {
    padding: 2rem;
  }

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(
      to right,
      variables.$color-primary-light,
      variables.$color-primary-dark
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    @include mixins.respond(tabport) {
      margin-bottom: 0;
    }
  }
  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
