@use '../abstracts/variables';
.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(variables.$color-black, 0.2);
  background-color: rgba(variables.$color-white, 0.7);
  border-radius: 5px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: variables.$default-font-size;
  transform: skewX(-12deg);
  backface-visibility: hidden;

  &__shape {
    position: relative;
    width: 15rem;
    height: 15rem;
    float: left;
    backface-visibility: hidden;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
  }

  &__img {
    height: 100%;
    transition: all 0.5s;
  }

  &__text {
    transform: skewX(12deg);
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: variables.$color-white;
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  &:hover &__img {
    filter: blur(3px) brightness(80%);
  }
}
