@use '../abstracts/variables';
@use '../abstracts/mixins';
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem is 10px;

  @include mixins.respond(tabland) {
    // width < 1200.
    font-size: 56.25%;
  }

  @include mixins.respond(tabport) {
    // width < 900.
    font-size: 50%; // 1rem = 8px, 8 / 16 = 50%;
  }

  @include mixins.respond(phone) {
    //width < 600.

    font-size: 30%; // 1rem = 4.8px;
  }

  @include mixins.respond(bigdesktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  // font-size: 16px;
  line-height: 1.7;
  color: variables.$color-grey-dark;
  padding: 3rem;

  @include mixins.respond(tabport) {
    padding: 0;
  }
}
