@use '../abstracts/variables';
@use '../abstracts/mixins';

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  // font-size: 16px;

  line-height: 1.7;
  color: variables.$color-grey-dark;
}
.heading {
  &-primary {
    color: variables.$color-white;
    text-transform: uppercase;

    /* ////// */
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &-main {
      display: block;
      font-size: 5rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      animation: moveInLeft 1s ease-out;

      @include mixins.respond(phone) {
        letter-spacing: 1rem;
        font-size: 5rem;
      }
    }
    &-sub {
      display: block;
      font-size: 1.8rem;
      font-weight: 700;
      letter-spacing: 15.4px;
      animation: moveInRight 1s ease-out;

      @include mixins.respond(phone) {
        letter-spacing: 0.7rem;
      }
    }
  }
  &-third {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(
      to right,
      variables.$color-primary-light,
      variables.$color-primary-dark
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    transition: all 0.5s;
    &:hover {
      transform: skewX(15deg) skewY(2deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba(variables.$color-black, 0.2);
    }
  }
  &-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(
      to right,
      variables.$color-primary-light,
      variables.$color-primary-dark
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.2rem;
    transition: all 0.5s;

    @include mixins.respond(tabport) {
      font-size: 3rem;
    }
    @include mixins.respond(phone) {
      font-size: 2.5rem;
    }

    &:hover {
      transform: skewX(15deg) skewY(2deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba(variables.$color-black, 0.2);
    }
  }
  &-tertiary {
    font-size: variables.$default-font-size;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.paragraph {
  font-size: 1.4rem;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
