@use '../abstracts/variables';
@use '../abstracts/mixins';

.section-about {
  background-color: variables.$color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;

  @include mixins.respond(tabport) {
    padding: 20rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(variables.$color-primary-light, 0.8),
      rgba(variables.$color-primary-dark, 0.8)
    ),
    url("../../img/nat-4.jpg");
  margin-top: -10rem;
  background-size: cover;
  transform: skewY(-7deg);
  & > * {
    transform: skewY(7deg);
  }
  @include mixins.respond(tabport) {
    padding: 10rem 0;
  }
}

.section-tours {
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
  background-color: variables.$color-grey-light-1;
  @include mixins.respond(tabport) {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;
  @include mixins.respond(tabport) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    variables.$color-primary-light,
    variables.$color-primary-dark
  );
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba(variables.$color-white, 0.9) 0%,
      rgba(variables.$color-white, 0.7) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 5px;
  box-shadow: 0 1.5 4rem rgba(variables.$color-black, 0.25);

  @include mixins.respond(tabland) {
    background-image: linear-gradient(
        105deg,
        rgba(variables.$color-white, 0.9) 0%,
        rgba(variables.$color-white, 0.7) 50%,
        transparent 50%
      ),
      url(../img/nat-10.jpg);
    background-size: cover;
  }

  @include mixins.respond(tabland) {
    background-image: linear-gradient(
        105deg,
        rgba(variables.$color-white, 0.9) 0%,
        rgba(variables.$color-white, 0.7) 100%
      ),
      url(../img/nat-10.jpg);
  }

  &__form {
    width: 50%;
    padding: 6rem;
    @include mixins.respond(tabland) {
      width: 65%;
    }
    @include mixins.respond(tabport) {
      width: 100%;
    }
  }
}
